.recipe {
    &__item {
        text-decoration: none;
        color: #363636;
    }

    &__article {
        position: relative;
        overflow: hidden;
    }
    &__img{
        width: 328px;
        height: 230px;
        object-fit: cover;
        border-radius: 1.5rem;
     }
     &__data{
        width: 280px;
        background-color: #fff;
        padding: 1.5rem 2rem;
        box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
        border-radius: 1rem;
        position: absolute;
        bottom: -9rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        opacity: 0;
        transition: opacity 1s 1s;
        text-decoration: none;
        color: #363636;
    }
    &__ingredients{
        display: flex;
        flex-direction: row;
        width: 280px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        list-style: none;
    }
    &__ingredient{
        background-color: #eeddff;
        border: 1px solid #4b3363;
        color: #4b3363;
        padding: 6px;
        border-radius: 9px;
    }
    &__article:hover &__data {
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity .3s;
    }

    &__article:hover {
        animation: remove-overflow 2s forwards;
    }

    &__article:not(:hover) {
        animation: show-overflow 2s forwards;
    }

    &__article:not(:hover) &__data {
        animation: remove-data 1s forwards;
    }
}


/* recipe animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}